body{
    p{
        color: rgb(255, 0, 115);
    }

    .wcc  {
        .ant-form-item-control{
          line-height: normal;
        }
    }
    .cc {
        .ant-form-item-control{
          line-height: normal;
        }
    }

}